.app-container {
  height: 100vh;
  width: 100%;
}

.app-sidenav {
  width: 250px;
}

.app-content {
  padding: 24px 48px;
  background-color: #f5f7fa;
  overflow-y: auto; 
  height: 100vh;
  box-sizing: border-box;
}